html, body {
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
}

body {   
  font-family: "Apercu","Helvetica Neue",Helvetica,"Calibri","Roboto",Arial,sans-serif;
  // font-family: Helvetica, Arial, sans-serif;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.618;
  margin-top:65px;  
}

.container-body {
width: 100%;
margin-left: auto;
margin-right: auto;
margin-top:30px;
min-height: 1000px;
}

.content {
font-size: 1.8rem;
text-align: center;
/*margin-top: 25%;*/
margin-bottom: 5%;
padding: 0 200px;
color: #36ef09bf;
}

.user-info{
justify-content: center;
width: auto;
margin-left: 2px;
margin-top: 10px;
}

.provider {
font-size: 10px;
font-weight: 600;
line-height: 1.5;
color: #f5cc00;
font-family: inherit;
}

.banner-headline {
color: #36ef09bf; 
}

.span-name {
font-family: inherit !important;
font-size: 12px !important;
margin-left: -7px !important;
font-weight: bold;
color: '#606770' !important;
}

.relative {
  position: relative;
}

h1 {
font-size: 3.125rem;
}

h2 {
  font-size: 2.8rem;
}

.primary-color {
  color: #2a7fff;
}

.ml-7 {
  margin-left: 7px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-t-7 {
  margin-top: 7px !important;
}

.primary-bg-color {
  background-color: #2a7fff;
}

h1, h2, h3, h4, h5, h6 {
letter-spacing: 2px;
font-family: inherit;
color: #2a7fff;
display: block;
margin-block-start: 0.67em;
margin-block-end: 0.67em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}

h6 {
  color: #283593;
}

h1.headline {
font-size: 40px;
line-height: 60px;
}

p.gray {
color: #77909c;
font-size: 45px;
font-weight: 300;
}

p.blue {
color: #0273d4;
font-size: 45px;
font-weight: 300;
}

.page-not-found {
color: #1b198e;
position: absolute;
width: 100px;
height: 50px;
top: 40%;
left: 50%;
margin-left: -50px; 
margin-top: -25px;  
font-size: 100px;
}

.page-not-found-text {
color: #f50d62;
position: absolute;
width: 50%;
height: 50px;
top: 45%;
left: 30%;
margin-left: -50px; 
font-size: 100px;
}

.react-autosuggest__suggestions-list {
margin: 0;
padding: 0;
list-style-type: none;
}

.no-records {
font-size: 35px;
margin-top: 100px;
text-align: center;
}

.home-background {
  // text-align: center;
  // background: #E1DCD2 url(../home.png) no-repeat center center;
  // background-size: cover;
  // min-height: 700px;
  // padding: 70px 0;

  // background-image: url(../home.png);
  margin-top: 100px;
  position: relative;
  padding-bottom: 100px;
  background-position: center bottom;
  background-repeat: repeat-x;
}

.full-screen-preview {
height: 100%;
padding: 0px;
margin: 0px;
overflow: scroll;
}

// .footer-contact {
//   background-image: url(../person-on-phone.png);
//   height: 67px;
//   margin-top: -87px;
//   background-repeat: repeat-y;
//   margin-left: 64%;
// }

.home-background .image-column {
position: relative;
}

.home-background .content-column {
position: relative;
}

.home-background .image-column .inner-column {
position: relative;
}

.home-background .image-column .image {
position: relative;
// margin-left: -180px;
}

.sec-title {
position: relative;
z-index: 1;
}

img {
display: inline-block;
max-width: 100%;
height: auto;
}

* {
margin: 0px;
padding: 0px;
border: none;
outline: none;
}

.auto-container {
position: static;
max-width: 1200px;
padding: 0px 15px;
margin: 0 auto;
background: var(--greyLight-1);
}
.align-card {
box-sizing: border-box;
max-width: 90%;
margin: 0px auto;
}

footer {
width: 100%;
float: left;
position: relative;
z-index: 5;
background-color: #F5F6F7;
color: #1A1A1A;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}
.p-v-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-v-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.w-full {
  width: 100%;
}

.m-10 {
  margin: 10px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-auto {
  margin: auto;
}
.w-max-1200 {
  max-width: 1200px;
}

.m-v-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul li {
  list-style-type: none;
  line-height: 24px;
}

.w-color {
  color: #fff;
}

.m-30 {
  margin: 30px !important;
}

.border-bottom {
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.h2-header {
margin-top: 40px;
margin-bottom: 15px;
}

.margin-bottom {
margin-bottom: 30px;
}

.square {
display: flex;
justify-content: center;
}
.logo {
width: 35px;
height: 35px;
background: #2a7fff;
}

div>a, a:hover {
color: #007bff !important;
text-decoration: none;
font-family: inherit;
}

.logo {
margin-top:5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
} 

.logo-color {
font-weight: bold;
color: #2a7fff;
font-size: 27px;
font-family: inherit;
margin-right: 10px;
margin-left: 10px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.w-100 {
width: 100%;
}

.hyperlink {
color: #2a7fff;
font-weight: bold;
font-size: 13px;
}

p {
font-size: 1.2rem;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

.share-btn {
position: absolute;
left: 13px;
cursor: pointer;
top: -15px;
&::before {
  content: "."; opacity: 0;
  display: block;
  width: 44px; height: 10px;
  position: absolute; 
  top: -10px; left: 0;
}
}


.cursor {
  cursor: pointer;
}

.feed {
position: relative;

.like-btn {
  position: absolute;
  left: 13px;
  cursor: pointer;
  top: -15px;
  &::before {
    content: "."; opacity: 0;
    display: block;
    width: 44px; height: 10px;
    position: absolute; 
    top: -10px; left: 0;
  }
  
  .reaction-box {
    position: absolute;
    width: 340px; height: 45px;
    background: #fff;
    border-radius: 28px;
    left: -15px; bottom: 25px; 
    display: none;
    margin-bottom: 10px;
    border: 1px solid #3333;
    
    .reaction-icon {
      width: 40px; height: 40px;
      display: inline-block;
      border-radius: 20px;
      margin: 0 -1px 0 8px;
      text-align: center;
      transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      // transform: translate(0, 100px) scale(0);
      img {
        padding: 3px 5px 3px 5px;
        position: relative;
        border-radius: 10px;
        font-size: 11px;
      }
    }
  }

  &:hover {
    
    .reaction-box {
      display: block;  
              
      .reaction-icon {
        
        &.show {
          opacity: 1;
          transform: translate(0, 0) scale(1);
        }
        
        &:hover {
          transform: scale(1.4);
          transform-origin: bottom; 
        }
      }
    }
  }
}
}

.hint-area {
width: 100%;
height: 30px;
padding-left: 20px;
padding-top: 5px;
font-weight: bold;
background-color: #f8f9fa;
margin-top: 20px !important;
margin-bottom: 0px !important;
}

code {
font-size: 87.5% !important;
color: #2a7fff !important;
word-break: break-word;
border-radius: 5px;
padding: 2px;
margin-left: 5px;
}

.mr-10 {
margin-right: 10px !important;
}

.actions-text {
margin-top: 2px;
margin-left: 2px;
color: inherit;
display: block;
line-height: 16px;
max-height: 16px;
overflow: hidden;
font-weight: 500;
color: #1165e5;
}

.actions-align {
display: flex;
margin-left: 15px;
margin-right: 15px;
}

.v-align-middle {
vertical-align: middle!important;
}

.avatar {
width: 25px !important;
height: 25px !important;
}

.text-center {
  text-align: center;
}

.title {
  text-transform: lowercase;
}

.title::first-letter {
  text-transform: uppercase;
}

$size: 15px;
$border: 10px;
$green: #02ff18fa;
$red: #ff0202fa;
$grey: #333;

.status {
  position: relative;
  display: inline-block;
  width: $size;
  height: $size;
  border-radius: 50%;
  // margin: $border;

  &.approved, &.approved:before {
    background: $green;
  }
  
  &.rejected, &.rejected:before {
    background: $red;
  }
  
  &.pending, &.pending:before {
    background: $grey;
  }
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -($border / 2);
    top: -($border / 2);
    width: $size + $border;
    height: $size + $border;
    border-radius: 50%;
    animation: pulse 1.5s infinite ease-in;
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 1;
  }

  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

.shadow {
  box-shadow: 0 14px 28px rgba(145, 148, 170, 0.25), 0 10px 10px rgba(79, 99, 158, 0.22);
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.fl-items-center {
  align-items: center;
}
.fl-justify-around {
  justify-content: space-around;
}
.fl-wrap {
  flex-wrap: wrap;
}

.p-v-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.p-h-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.list-row {
  display: flex;
}

.p-0 {
  padding: 0px !important;
}

.align-items-center {
  margin: 0 auto !important;
  display: flex !important;
}

.card-action-avatar {
  width: 27px !important;
  height: 27px !important;
  margin-right: 20px !important;
  margin-top: 10px !important;
}

.card-title {
  background-color: #ffffff !important;
  margin-left: 20px !important;
  margin-top: 10px !important;
}

.profile{
  left: 30% !important;
  display: flex !important;
  margin-top: -100px;
  border-radius:100%;
  margin-top:30px;
  margin-bottom: 20px !important;
  width:100px !important;
  height:100px !important;
  box-shadow: 0 14px 28px rgba(145, 148, 170, 0.25), 0 10px 10px rgba(79, 99, 158, 0.22);
}

.fl-justify-between {
  justify-content: space-between;
}

.g-color {
  color: '#3333'
}

.followers {
  margin: 0px 0px 0px 10px;
  color: #666B7D;
  margin-top: 10px;
}

.title {
  margin: 0px 0px 0px 10px;
  color:#333;
  font-size: 20px;
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.profile-title {
  color: #2a7fff;
  width: 140px;
  font-weight: 600 !important;
  margin-top: 20px !important;
}

.f-r {
  float: right;
}

.b-s {
  box-shadow: unset !important;
}
.b-w-arrow {
  margin-right: 5px !important;
  margin-left: 20px !important;
} 

.f-10 {
  font-size: 10
}

.pb-0 {
  padding-bottom: 0px !important;
}

.summary-c-t {
  font-size: 0.8rem;
  font-weight: 500;
}

.w-color {
  color: #ffffff !important;
  font-weight: 500;
}

.m-l-18 {
  margin-left: 18px;
}

.notifications-background {
  background: url(../notifications/texting.svg) no-repeat center center;
  height: 700px;
}

li > a {
  color: #333;
}

.metrics-card-padding {
  padding: 5px 20px 5px 5px !important;
}

.metrics-card-title {
  margin: 24px 0px 0px 10px;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

small {
  font-size: 100% !important;
}

.b-r-15 {
  border-radius: 15px;
}

.mt-10 {
  margin-top: 10px !important;
}

.icon-display {
  width: 30px !important; 
  height: 30px !important;
}




